//font-families
$font-family-primary: 'Open Sans', sans-serif;;

//field-states-colors
$active-field-color: #a1d2ce;
$default-field-color: #cfe7e5;
$disabled-field-color: #989898;
$validation-field-color: #ee90a2;

//font-colors
$font-field-color: #6b6b6b;
$font-title-color: #2e2e2e;

//colors
$gray: #f1f1f1;
$gray2: #e3e3e3;
$pink: #efe0e0;
$pink2: #ee4266;
$white: #ffffff;
$purple: #8a3591;
$aquamarina: #e1f0ef;
$dark-aquamarina: #3f8794;

$box-shadow-color: #B8B8B8;